script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
script(src="/javascripts/chat.js")
script(src="/javascripts/chatInterface.js")
div#prompt
    p Please choose a username.
    label(for="username") Name:
    input#username(type="text")
    button#go Go
    
