@background : #FFFFFF;
@font-size : 20pt;

@code-background : #90A9CB;
@controls-background : #90A9CB;
@dark-background : #003399;

body {
    padding : 0;
    margin : 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color : white;
    font-size : @font-size;
    color : black;
}

div.chat {
    height : 100%;
}

div#prompt {
    margin : 30px;
}

div.holder {
    position : fixed;
    bottom : 0;
    width : 100%;
}

div.controls {
    background-color : @controls-background;
    width : 100%;
    z-index : 10;
    input {
        color : black;
        border-width : 0px;
        width : 100%;
        background : @controls-background;
        font-size : @font-size;
    }
}

div.statusBar {
    width : 100%;
    color : white;
    background-color : @dark-background;
}

div.messages {
    overflow : hidden;
    padding-bottom : 80px;
}

.messageType (@background : white) {
    background-color : @background;
    .username {
	background-color : darken(@background, 10%);
    }    
}

div.message {
    margin-bottom : 4px;

    a {
	text-decoration : none;
    }

    h1, p {
        font-size : @font-size;
	margin-top : 0ex;
	margin-bottom : 0ex;
    }

    .username {
        font-weight : bold;
	background-color : darken(@background, 10%);
    }

    &.error {
	.messageType(#FF9999);
	.username {
	    color : red;
	}
    }

    &.info {
	.messageType(#90A9CB);
    }
}

.code {
    font-weight : bold;
    font-family : lucida console, monospace;
    background-color : @code-background;
}